.newsletters__container {
    margin-bottom: 3rem;
}

.newsletter__title {
    background: var(--gradient);
    padding: .4rem;
    color: #ffffff;
}

.newsletters {
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    justify-content: space-between;
}

.newsletter {
    border: 1px solid black;
    height: 20rem;
}