<div class="container py-5">
  <app-header></app-header>
  <app-links></app-links>

  <app-nav></app-nav>

  <div class="hero d-flex justify-content-center align-items-center">
    <span class="fw-bold">Image</span>
  </div>
  <div class="no__se__como__nombrar__aqui__pero__funciona mt-5">
    <main class="main">
      <app-sections></app-sections>
    </main>

    <div class="aside__container">
      <app-asides></app-asides>
    </div>
  </div>

  <div class="franja"></div>
  <app-footer></app-footer>
</div>