<h2 class="headline__title">Top Story Headline</h2>
<div class="headline__info">
    <div class="headline__img">imagen</div>
    <div class="headline__description">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, dolorum, enim culpa
            sit
            doloribus sed reprehenderit atque voluptatum quisquam aspernatur non doloremque omnis
            numquam
            optio cum dicta recusandae? Molestiae, quisquam?
            Quam beatae rerum quis tenetur voluptate laborum nesciunt quod! Ea accusantium, dolores,
            aliquid
            ullam assumenda commodi error culpa tempora quas ut dolor animi maxime veritatis sit?
            Quisquam
            harum unde distinctio.
            Molestias eum voluptate numquam, voluptatem quod illum consequuntur repellat accusantium
            earum
            hic dolorem eveniet porro ipsum consectetur animi possimus ipsa. Aperiam, dolore dolores
            incidunt placeat harum quisquam beatae architecto. A!
            Aliquam quae suscipit doloribus quia voluptatibus sint tempora exercitationem dolorum
            minima
            molestias, deleniti perspiciatis reiciendis veniam ipsa culpa porro non. Est, sed quos.
            Minus
            impedit aliquam sapiente commodi id amet.
            Distinctio praesentium neque laboriosam sunt earum. Facere, voluptatem alias. Numquam et
            laboriosam iste tempore soluta vel itaque natus ut inventore at ipsum mollitia provident
            saepe,
            blanditiis, iusto delectus laudantium sunt.
        </p>
    </div>
</div>
<div class="headline__actions">
    <button>Download</button>
    <button>Purchase</button>
</div>