<footer class="d-flex flex-column align-items-center footer">
    <nav>
        <a class="me-4 text-black text-decoration-underline" href="#">Home</a>
        <a class="me-4 text-black text-decoration-underline" href="#">Products</a>
        <a class="me-4 text-black text-decoration-underline" href="#">Download</a>
        <a class="me-4 text-black text-decoration-underline" href="#">Buy Now</a>
        <a class="me-4 text-black text-decoration-underline" href="#">Support</a>
        <a class="text-black text-decoration-underline" href="#">About</a>
    </nav>
    <p>Copyright Company 2013. All Rights Reserved</p>
</footer>