<aside class="first__aside">
    <h2 class="title m-3">Social</h2>
    <div class="d-flex flex-column gap-3">
        <div class="d-flex justify-content-center align-items-center  mx-auto video">
            <p>Video</p>
        </div>
        <button class="mx-auto button__shared">Share & Links</button>
    </div>
</aside>

<aside class="second__aside">
    <h2 class="title m-3">Navigate</h2>
    <ul>
        <li *ngFor="let item of [1,1,1,1,1,1]">
            <span>item</span>
        </li>
    </ul>
</aside>