.title {
    background: var(--gradient);
    padding: .4rem;
    color: #ffffff;
    text-align: center;
}

.button__shared,
.video {
    width: 80%;
}

.video {
    height: 15rem;
    border: 1px solid black;
}


.first__aside {
    margin-bottom: 2rem;
}

.first__aside,
.second__aside {
    min-height: 55%;
    border: 1px solid #494949;
}

li {
    list-style: square !important;
}